@model Role

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-content-center">
       
        <form asp-controller="Role" asp-action="Update" method="post">
            <div class="form-group row">
                <label asp-for="RoleId" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="RoleId" class="form-control"  />
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a asp-action="GetRoles" asp-controller="Role" class="btn btn-secondary">Back</a>
        </form>
            </div>
     
    <div class="col-sm-3"></div>
</div>