@model ProjectUpdateViewModel

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 align-content-center">

        <form asp-controller="Project" asp-action="Update" method="post">
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Domain" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Domain" class="form-control" />
                    <span asp-validation-for="Domain" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Budget" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Budget" class="form-control" />
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="TentativeStartDate" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="TentativeStartDate" class="form-control" />
                    <span asp-validation-for="TentativeStartDate" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="TentativeEndDate" class="col-sm-5 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="TentativeEndDate" class="form-control" />
                    <span asp-validation-for="TentativeEndDate" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a asp-action="GetProjects" asp-controller="Project" class="btn btn-secondary">Back</a>
        </form>
    </div>

    <div class="col-sm-3"></div>
</div>