<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Styles.css" rel="stylesheet" />
    <script src="~/jquery/jquery.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @inject SignInManager<Employee>  signInManager
</head>
<body>
    <div class="container-fluid p-1">
        <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color:black;">
            <a class="navbar-brand" asp-action="GetEmployees" asp-controller="Employee">
                <img src="~/Images/ProfileImage.png" style="width:65px;height:65px" />
            </a>
            <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#CollapseMenuBar">
                <span class="navbar navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="CollapseMenuBar">
                <ul class="navbar-nav">
                    @if(signInManager.IsSignedIn(User))
                    { 
                   <li class="nav-item"><a class="nav-link ListHeader"  asp-action="GetEmployees" asp-controller="Employee">Employees</a></li>
                    }
                   @if (signInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                   { 
                    <li class="nav-item"><a class="nav-link ListHeader" asp-action="GetProjects" asp-controller="Project">Projects</a></li>
                   }
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link ListHeader"  asp-action="GetDepartments" asp-controller="Department">Departments</a></li>                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ListHeader" href="#" id="DropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="DropdownMenuLink">
                                <a class="dropdown-item " asp-controller="Administration"
                                   asp-action="GetUsers" style="font-size:20px; font-family:'sans-serif'">Users</a>
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="GetRoles" style="font-size:20px; font-family:'sans-serif'">Roles</a>
                            </div>
                        </li>
                    }
                </ul>                 
                <ul class="navbar-nav m-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                    <li class="nav-item">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button type="submit" style="width:auto;font-family:'Times New Roman'"
                            class="nav-link btn btn-link py-0">
                        Logout @User.Identity.Name</button>
                        </form>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" style="font-size:28px; font-family:'Times New Roman'" asp-action="Login" asp-controller="Account">SignIn</a></li>
                        <li class="nav-item"><a class="nav-link" style="font-size:28px; font-family:'Times New Roman'" asp-action="Register" asp-controller="Account">Register</a></li>
                    }
                </ul>
            </div>
        </nav>

        <br />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>    
</body>
</html>