@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <div class="col-sm-12">
        <h1 class="alert-warning">Employee with @Model not Found</h1>
    </div>
</div>
<a class="btn btn-outline-success"  asp-controller="Home" asp-action="Index" >Please select from Employee list</a>

