@model IQueryable<IdentityRole> 


<div class="row">
    <div class="col-sm-12">

        @if(Model.Any())
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roles in Model)
                    {
                        <tr class="text-center">                            
                            <td>@roles.Name</td>
                            <td>
                                <a asp-controller="Administration" asp-action="UpdateRole" asp-route-Id="@roles.Id" class="btn btn-outline-success"><i class="fas fa-edit">Edit</i></a>
                                <form method="post" asp-controller="Administration" asp-action="DeleteRole" asp-route-Id="@roles.Id">
                                    <button  class="btn btn-outline-danger m-1" onclick="return DeleteConfirm(this,'Role')"><i class="far fa-trash-alt">Delete</i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-outline-success">Create New Role</a>
        }
        else
        {
            <h4 class="text-decoration-line-through">No Roles Created</h4>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-outline-success">Create Role</a>
        }        
    </div>
</div>