@model AdministrationUpdateUserViewModel

<br />

<form asp-controller="Administration" asp-action="UpdateUser" method="post">
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">Update</button>
    <a asp-controller="Administration" asp-action="GetUsers" class="btn btn-outline-secondary">Back</a>
</form>