<div class="row">
    <div class="col-sm-12">
    <img class="w-25 mx-auto d-block" src="~/Images/remove.svg" />
    </div>
    <div class="col-sm-12 alert-warning">
        <h1>@ViewBag.Error</h1>  <br />
        <h2>Please contact our helpdesk for support</h2>
    </div>
</div>